/.idea
Client_Server/.idea
Client_Server/.pytest_cache
Client_Server/__pycache__
Client_Server/log/__pycache__
Client_Server/log/app
Client_Server/log/app*
help/help.py
help/help_client.py
help/help_server.py
